<h1>Filtrer les élèves</h1>

<div class="container1">
    <div class="container2">
        <input class="ms-3 mh-100 w-50 p-2" type="text" placeholder="Filtrer par prénom..." #filter>

        <button class="bg-primary ms-3 mb-3 ps-4 pe-4 pt-2 pb-2 border-0 rounded-2 text-white fs-5" type="button" (click)="filterResults(filter.value)">Chercher</button>

        <mat-progress-spinner *ngIf="loading" [color]="color" [mode]="mode" [value]="value">
        </mat-progress-spinner>

        <div class="m-3" *ngFor="let eleve of filteredEleveList">
            <p>
                {{ eleve.name }}
                {{ eleve.surname }}
            </p>
        </div>

        <h1 *ngIf="eleveNotFound">Introuvable</h1>
    </div>
</div>